astra-toolbox==2.1.2
contourpy==1.0.7
cycler==0.11.0
dataclasses==0.6
fonttools==4.39.3
future==0.18.3
h5py==3.8.0
imageio==2.27.0
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
networkx==3.0
numpy==1.24.2
odl==1.0.0.dev0
packaging==23.0
Pillow==9.5.0
protobuf==3.20.3
pydicom==2.3.1
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0
scikit-image==0.19.0
scipy==1.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboardX==2.6
tifffile==2023.3.21
torch==1.7.0+cu110
torchaudio==0.7.0
torchvision==0.8.1+cu110
tqdm==4.65.0
typing_extensions==4.5.0
zipp==3.15.0
